.container {
    width: 900px;
    margin: 0 auto;
}
.content {
    background-color: #e1e1e1;
}
.logo img {
    display: block;
    width: 250px;
    margin: 0 auto;
    padding-top: 50px;
}
.content h1 {
    text-align: center;
    font-size: 72px;
    color: #e52521;
}